.fl-detail-page {
    max-width: 100%;
    width: 100%;
}

.fl-bs .slick-image-slider-image {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

#fl-image-slider {
    display: none;
    margin-left: 0;
    margin-bottom: 0;
    background-color: black;
}

.fl-sub-title {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 28px;
}

.fl-title {
    font-weight: bold !important;
    margin-bottom: 0;
}

.fl-img-responsive {
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.fl-stat-value {
    font-weight: bold;
}

.fl-price-monthly {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 120%;
    background-color: #eaeaea;
    color: #333;
}

.fl-price-monthly-value {
    font-weight: bold;
}

.fl-offset-5 {
    margin-top: 5px;
}

.fl-offset-7 {
    margin-top: 7px;
}

.fl-offset-15 {
    margin-top: 15px;
}

.fl-offset-20 {
    margin-top: 20px;
}

.fl-offset-30 {
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.fl-sorting-container {
    margin: 0;
    padding-left: 15px;
    line-height: 30px;
    list-style-type: none;
}

.fl-sorting-container li {
    display: inline;
    padding: 6px;
}

.fl-sorting-container li:first-child {
    padding-left: 0;
}

.fl-pagination {
    margin: 16px auto;
    list-style: inside;
    padding: 0;
}

.fl-pagination li {
    display: inline-block;
}

.fl-pagination li a {
    display: block;
    background-color: #eaeaea;
    padding: 8px 14px;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.fl-pagination li a:hover,
.fl-pagination li a.active {
    color: black;
    font-weight: bold;
    background-color: #efefef;
}

.fl-bs {
    margin-top: 24px;
}

.fl-bs .slick-prev,
.fl-bs .slick-next {
    z-index: 100;
}

.fl-bs .slick-prev {
    left: 10px;
}

.fl-bs .slick-next {
    right: 10px;
}

.fl-bs .fl-equipments {
    column-count: 2;
    list-style: none;
    margin: 0;
    width: 100%;
}

.fl-bs .ownership-buttons .ownership-button.active {
    color: #ffffff;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

.fl-bs .leasing-tab.hidden {
    display: none;
}

.text-right {
    text-align: right;
}

a .leasing-info {
    color: #222;
}

.fl-border-bottom {
    border-top: 0;
    border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    #slick-image-slider .slick-image-sæider-image {
        height: 600px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .fl-img-responsive {
        height: 225px;
    }
}

@media only screen and (max-width: 767px) {
    .fl-img-responsive {
        height: auto;
    }
}

.fl-bs .fl-detail-price {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.fl-bs .fl-detail-price > div {
    margin-top: 4px;
    margin-bottom: 4px;
}

.fl-bs .fl-detail-price .fl-price {
    font-size: 28px;
    font-weight: bold;
}

.fl-bs .monthly-pay-wrapper {
    background-color: #333;
    color: white;
}

.fl-bs .monthly-pay-container {
    width: 100%;
    padding: 8px;
    text-align: center;
}

.fl-bs .monthly-pay-container .price-monthly-header {
    color: white;
}

.fl-bs .slider-label, .fl-bs .slider-value-field {
    color: #515151;
    font-weight: bold;
    line-height: 25px;
    font-size: 16px;
    white-space: nowrap;
}

.fl-bs .slider-label {
    color: #7f7f7f;
}

.fl-bs .slider-label .slider-label-tag {
    font-weight: normal;
}

.fl-bs .slider-row {
    margin-top: 7px;
}

.fl-bs .slider {
    width: 100%;
    display: block;
    height: 6px;
    background: #e3e3e4;
    position: relative;
}

.fl-bs .no-padding {
    padding: 0 !important;
}

.fl-bs .no-padding-left {
    padding-left: 0 !important;
}

.fl-bs .no-padding-right {
    padding-right: 0 !important;
}

.fl-bs .mobilede-brand {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fl-detail-page .fl-bs {
    margin-top: 15px;
}
.fl-detail-title {
    font-weight: bold;
    padding: 0px 15px 0 45px !important;
}
.fl-details-info {
    margin: 0 !important;
    padding: 40px 0;
    background: #c78c36;
    color: #eee;
}
.fl-detail-page .slick-dots {
    display: none !important;
}
.fl-details-info .info-wrapper {
    background: #000;
    padding: 60px;
}
.info-wrapper .info-title {
    margin-bottom: 30px;
}
.info-wrapper .info-title h3, .info-wrapper .info-title h2{
    text-align: left;
    font-weight: bold;
    color: #fff;
}
.info-wrapper .info-content {
    margin-bottom: 50px;
}
.info-wrapper .info-content table {
    border-collapse: collapse;
}
.info-wrapper .info-content table tr {
    border-bottom: 1px solid #eee;
}
.info-wrapper .info-content table tr .text-left {
    width: 40%;
}
.info-wrapper .info-content table tr td, .info-wrapper .info-content table tr td{
    border-width: 0px 0px 0px 0px;
}
.info-wrapper .info-content h4, .info-wrapper .info-content h5{
    color: #eee;
    font-weight: bold;
    z-index: 5;
}
.info-wrapper .info-content .display-flex {
    display: flex;
    align-items: center;
}
.info-wrapper .info-content p, .info-wrapper .info-content .mobilede-brand{
    text-align: left;
}
.fl-listing-page .fl-bs {
    padding: 40px;
}
.fl-listing-page .fl-bs>.row {
    justify-content: space-between;
}
.fl-listing-page .car-item {
    min-width: 350px;
    max-width: calc( 33.333333% - 40px);
    padding: 0;
    margin-top: 40px;
    border: 1px solid #d3d3d3;
    margin-left: 5px;
    margin-right: 5px;
}
/* .fl-listing-page .car-item:nth-child(3n+1) {
    margin-right: 30px;
}
.fl-listing-page .car-item:nth-child(3n+2) {
    margin-left: 30px;
    margin-right: 30px;
}
.fl-listing-page .car-item:nth-child(3n) {
    margin-left: 30px;
} */
.fl-listing-page .car-item img {
    width: 100%;
}
.fl-listing-page .car-item .row {
    margin: 0;
}
.fl-listing-page .car-item .row .col-12:first-child {
    padding: 0;
}
.fl-listing-page .car-item .car-title {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}
.fl-listing-page .car-item .car-title .fl-sub-title {
    width: auto;
    color: #a3a3a3;
}
.fl-listing-page .car-item .hide {
    display: none;
}
.fl-listing-page .car-item .leasing-info .col-4 {
    color: #a3a3a3;
}
.fl-listing-page .car-item .car-title .fl-title, .fl-listing-page .car-item .leasing-info h5 {
    color: #333 !important;
    font-weight: bold;
    font-size: 1.4em;
}
.fl-listing-page .car-item .leasing-info .fl-price {
    font-size: 1.4em;
    line-height: 32px;
}
.fl-listing-page .car-item .leasing-info .fl-price-monthly-value {
    font-weight: normal;
}
.fl-listing-page .car-item .text-muted {
    background: #c78d36;
    color: #000;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 10px;
}
.fl-listing-page .car-item .text-muted .row {
    justify-content: space-around;
    align-items: center;
}
.fl-listing-page .car-item .text-muted .no-padding {
    padding: 10px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fl-listing-page .car-item .text-muted .no-padding:nth-child(3n+1) {
    border-right: 1px solid #fff;
}
.fl-listing-page .car-item .text-muted .no-padding:nth-child(3n) {
    border-left: 1px solid #fff;
}
.fl-listing-page .car-item .text-muted .fl-stat-label {
    margin-right: 10px;
}
.fl-listing-page .car-item .text-muted a {
    font-weight: normal;
    text-decoration: underline;
    font-style: italic;
    color: #000;
}
.fl-listing-page #primary {
    width: 100%;
    margin-top: 0 !important;
}
.fl-listing-page .ast-article-single {
    display: none;
}
.ast-container {
    max-width: 100% !important;
}
.fl-sale-page .fl-bs {
    padding: 40px 20px;
}
.fl-detail-page #primary {
    margin-top: 0 !important;
}
.fl-detail-page .fl-detail-image {
    padding: 0;
}
.fl-detail-page.margin-20 {
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
    margin-left: -20px !important;
    margin-right: -20px !important;
}
.fl-details-info .info-content img {
    width: 100px;
}
@media (max-width: 1440px) {
    .info-wrapper .info-content .display-flex {
        max-width: 50%;
        flex: none;
    }
    .fl-detail-page.margin-20 .info-wrapper .info-content .display-flex {
        max-width: 50% !important;
        flex: none !important;
    }
}
.fl-bs .row {
    margin: 0;
}
.fl-bs .col-12 {
    padding: 0;
}
.fl-detail-page .fl-bs .left-pan {
    padding: 0;
}
.fl-detail-page .fl-bs .right-pan>.row{
    margin: 10px;
}
@media (max-width: 1224px) {
    .fl-detail-page .fl-bs .left-pan {
        flex: none;
        max-width: 100%;
    }
    .fl-detail-page .fl-bs .right-pan {
        flex: none;
        max-width: 100%;
        padding: 20px;
    }
    .info-wrapper .info-content .display-flex {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width: 840px) {
    .fl-details-info .info-content img {
        width: 80px;
    }
}
@media (max-width: 768px) {
    .fl-details-info .info-wrapper {
        padding: 40px 20px;
    }
    .info-wrapper .info-title {
        margin-bottom: 10px;
    }
    .info-wrapper .info-content table tr .text-left {
        width: 50%;
    }
    .fl-detail-title {
        font-weight: normal;
        padding: 0px 15px !important;
    }
    .info-wrapper .info-content {
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .info-wrapper .info-content .display-flex {
        padding: 0;
    }
}
@media (max-width: 768px) {
    .info-wrapper .info-content .display-flex {
        max-width: 50%;
        flex: none;
    }
}
@media (max-width: 440px) {
    .fl-detail-page.margin-20 .info-wrapper .info-content .display-flex {
        max-width: 100% !important;
    }
}
@media (max-width: 1420px) {
    .fl-listing-page .car-item .car-title .fl-title, .fl-listing-page .car-item .leasing-info h5 {
        font-size: 1em;
    }
    .fl-listing-page .car-item .car-title .fl-sub-title, .fl-listing-page .car-item .leasing-info .col-4 {
        font-size: 0.9em;
    }
    .fl-listing-page .car-item .leasing-info .fl-price {
        font-size: 1.1em;
    }
    .fl-listing-page .car-item .text-muted .no-padding {
        font-size: 0.8em;
    }
}
@media (max-width: 1420px) {
    .fl-listing-page .car-item {
        max-width: calc(50% - 40px);
        flex: none;
    }
}
@media (max-width: 800px) {
    .fl-listing-page .fl-bs>.row {
        justify-content: space-around;
    }
    .fl-listing-page .car-item {
        max-width: calc(100% - 20px);
        flex: none;
    }
}